@charset "utf-8";
/* CSS Document */
#yes_or_no {
	display: none;
	font-size: 12px;
	color: #990000;
}
.frame {
	background-image: url(../images/ch_frame.png);
	margin-top: 20px;
	background-repeat: no-repeat;
	height: 483px;
	width: 855px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
.frame .ch_icon {
	background-image: url(../images/ch_passwd.png);
	height: 50px;
	width: 131px;
	margin-left: -6px;
}
.frame .change {
	height: auto;
	width: 500px;
	margin-top: 15px;
	margin-left: 30px;
	font-size: 14px;
	color: #999999;
}
.frame .change .item {
	margin-top: 20px;
}
.yes {
	float: left;
	height: 23px;
	width: 80px;
	background-image: url(../images/yes.png);
	margin-left: 77px;
	border:0px;
	cursor:pointer;
}
.no {
	background-image: url(../images/no.png);
	float: left;
	height: 23px;
	width: 80px;
	margin-left: 10px;
	border:0px;
	cursor:pointer;
}
.cave {
	height: 30px;
	width: 180px;
}
.oldpsd {
	margin-left: 15px;
}
.newpsd {
	margin-left: 15px;
}
.change .item .xuehao {
	margin-left: 30px;
}
#same{
	display: none;
	font-size: 12px;
	color: #990000;
	}
